<div class="container">
    <div class="logo">
      <%= link_to image_tag("hatch_logo.jpg"), "http://www.hatchshowprint.com/" %>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-3 col-xs-7">
        <h2>2013</h2>
        <a title="Image 1" href="/prints2013"><img class="thumbnail img-responsive" src="https://s3-us-west-1.amazonaws.com/cargen/2013/bandofhorses13_2.jpg" width="400" height="658"></a>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-7">
        <h2>2012</h2>
        <a title="Image 2" href="/prints2012"><img class="thumbnail img-responsive" src="https://s3-us-west-1.amazonaws.com/cargen/2012/Snider-Earle12_large.jpg" width="400" height="658"></a>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-7">
        <h2>2011</h2>
        <a title="Image 3" href="/prints2011"><img class="thumbnail img-responsive" src="https://s3-us-west-1.amazonaws.com/cargen/2011/BonIver11.jpg" width="400" height="658"></a>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-7">
        <h2>2010</h2>
        <a title="Image 4" href="/prints2010"><img class="thumbnail img-responsive" src="https://s3-us-west-1.amazonaws.com/cargen/2010/20100425_ArethaFranklin.jpg" width="400" height="658"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-3 col-xs-7">
        <h2>2009</h2>
        <a title="Image 5" href="/prints2009"><img class="thumbnail img-responsive" src="https://s3-us-west-1.amazonaws.com/cargen/2009/20090407_BenFolds.jpg" width="400" height="658"></a>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-7">
        <h2>2008</h2>
        <a title="Image 6" href="/prints2008"><img class="thumbnail img-responsive" src="https://s3-us-west-1.amazonaws.com/cargen/2008/20080502_LouReed.jpg" width="400" height="658"></a>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-7">
        <h2>2007</h2>
        <a title="Image 8" href="/prints2007"><img class="thumbnail img-responsive" src="https://s3-us-west-1.amazonaws.com/cargen/2007/20070922_interpol.jpg" width="400" height="658"></a>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-7">
        <h2>2006</h2>
        <a title="Image 9" href="/prints2006"><img class="thumbnail img-responsive" src="https://s3-us-west-1.amazonaws.com/cargen/2006/20060302_DavidGray.jpg" width="400" height="658">
        </a></div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-3 col-xs-7">
        <h2>2005</h2>
        <a title="Image 10" href="/prints2005"><img class="thumbnail img-responsive" src="https://s3-us-west-1.amazonaws.com/cargen/2005/20050802_BenHarper.jpg" width="400" height="658"></a>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-7">
        <h2>2004</h2>
        <a title="Image 11" href="/prints2004"><img class="thumbnail img-responsive" src="https://s3-us-west-1.amazonaws.com/cargen/2004/20041006_Pixies.jpg" width="400" height="658"></a>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-7">
        <h2>2003</h2>
        <a title="Image 12" href="/prints2003"><img class="thumbnail img-responsive" src="https://s3-us-west-1.amazonaws.com/cargen/2003/20031119_LyleLovett.jpg" width="400" height="658"></a>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-7">
        <h2>2002</h2>
        <a title="Image 13" href="/prints2002"><img class="thumbnail img-responsive" src="https://s3-us-west-1.amazonaws.com/cargen/2002/20020824_NickelCreek.jpg" width="400" height="658"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-3 col-xs-7">
        <h2>2001</h2>
        <a title="Image 13" href="/prints2001"><img class="thumbnail img-responsive" src="https://s3-us-west-1.amazonaws.com/cargen/2001/20011104_GeorgeCarlin.jpg" width="400" height="658"></a>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-7">
        <h2>2000</h2>
        <a title="Image 13" href="/prints2000"><img class="thumbnail img-responsive" src="https://s3-us-west-1.amazonaws.com/cargen/2000/20000907_SmokeOnTheMountain.jpg" width="400" height="658"></a>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-7">
        <h2>1999</h2><a title="Image 13" href="/prints1999"><img class="thumbnail img-responsive" src="https://s3-us-west-1.amazonaws.com/cargen/1999/19990521_FaithHill.jpg" width="400" height="658"></a>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-7">
        <h2>1998</h2>
        <a title="Image 13" href="/prints1998"><img class="thumbnail img-responsive" src="https://s3-us-west-1.amazonaws.com/cargen/1998/19980429_EverlyBrothers.jpg" width="400" height="658"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-3 col-xs-7">
        <h2>1997</h2>
        <a title="Image 13" href="/prints1997"><img class="thumbnail img-responsive" src="https://s3-us-west-1.amazonaws.com/cargen/1997/19970501_LostHighway.jpg" width="400" height="658"></a>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-7">
        <h2>1996</h2>
        <a title="Image 13" href="/prints1996"><img class="thumbnail img-responsive" src="https://s3-us-west-1.amazonaws.com/cargen/1996/19960807_ElvisCostello.jpg" width="400" height="658"></a>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-7">
        <h2>1995</h2>
        <a title="Image 13" href="/prints1995"><img class="thumbnail img-responsive" src="https://s3-us-west-1.amazonaws.com/cargen/1995/19950211_emmylou.jpg" width="400" height="658"></a>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-7">
        <h2>1994</h2><a title="Image 13" href="/prints1994">
        <img class="thumbnail img-responsive" src="https://s3-us-west-1.amazonaws.com/cargen/1994/19940101_ryman.jpg" width="400" height="658"></a>
      </div>
    </div>
  </div>
</div>