@import url(http://fonts.googleapis.com/css?family=Redressed);

h1, h2 {
  text-align: center;
  font-weight: 900;
  font-family: "Redressed", cursive;
}

body {
  padding-bottom: 150px;
  padding-left: 10px;
}

.container {
  width: 70%;
  max-width: 1024px;
  margin: 0 auto;
}

.logo {
  text-align: center;
  margin-top: 25px;
}

.lazy {
  margin: 15px 15px 15px 15px;
}

.lazy:hover {
  cursor: pointer;
  width: 350;
  height: 572;
  border: 20px solid black;
  transform:scale(1.5);
    -ms-transform:scale(1.5); /* IE 9 */
    -moz-transform:scale(1.5); /* Firefox */
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -o-transform:scale(1.5); /* Opera */
}
