@import url(http://fonts.googleapis.com/css?family=Redressed);

h1 {
  text-align: center;
  font-weight: 900;
  font-family: "Redressed", cursive;
  padding-top: 50px;
}

h2 {
  text-align: center;
  font-weight: 900;
  font-family: "Redressed", cursive;
}

body {
  padding-bottom: 150px;
}

.title {
  text-align: center;
  padding-bottom: 50px;
}

.container {
  width: 70%;
  max-width: 1024px;
  margin: 0 auto;
}

.logo {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.lazy {
  margin: 15px 15px 15px 15px;
}

.lazy:hover {
  cursor: default;
  width: 350;
  height: 572;
  border: 20px solid black;
  border-radius: 20px;
  transform:scale(2.0);
    -ms-transform:scale(2.0); /* IE 9 */
    -moz-transform:scale(2.0); /* Firefox */
    -webkit-transform:scale(2.0); /* Safari and Chrome */
    -o-transform:scale(2.0); /* Opera */
}
